## What is Big Data


Four V's of Big Data

* velocity   
* volume
* variety  
* verascity (how clean is your data)

Pandas - High Performance Open source library for data analysis

* Process datasets of different formats - time series (sales type data), tabular data (data from databases), matrix data(excel sheet type)

* Import data from csv, json and database

* Provides extensive operations like slice, subset, merging, groupby, shaping

* Handling missing data

* Doing statistical analysis

* Pandas objects are consumed by sklearn, tensorflow

In [2]:
import pandas as pd
import numpy as np

### Pandas Data Structure
* Series : 1-D numpy array with name
* DataFrames: collection of series
* Panel

 ## Series - 1D Numpy Array

In [3]:
ser = pd.Series(np.random.rand(7))
ser

0    0.194621
1    0.572244
2    0.669861
3    0.417160
4    0.252582
5    0.818072
6    0.251901
dtype: float64

In [4]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [5]:
ser = pd.Series(np.random.rand(7),index=['a','b','c','d','e','f','g'])

In [6]:
ser

a    0.279956
b    0.043006
c    0.233146
d    0.411470
e    0.126831
f    0.064952
g    0.915069
dtype: float64

In [7]:
ser['c']

0.23314639261714232

In [8]:
ser['c'] = 1000

In [9]:
ser['c']

1000.0

In [10]:
np.mean(ser)

143.12018353653258

In [11]:
np.std(ser)

349.81983090079024

In [12]:
np.min(ser)

0.043006282503041504

In [13]:
np.max(ser)

1000.0

In [14]:
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [16]:
ser.values

array([  2.79956145e-01,   4.30062825e-02,   1.00000000e+03,
         4.11469558e-01,   1.26831451e-01,   6.49520592e-02,
         9.15069260e-01])

In [18]:
#### Series creation from dictionary
db = {'US':'dollar','India':'rupee','UK':'euro'}

In [20]:
newser = pd.Series(db)

In [22]:
newser

India     rupee
UK         euro
US       dollar
dtype: object

In [32]:
newser['UK']

'euro'

In [33]:

# Create Series from Scalar values

In [37]:
dogseries = pd.Series('xyz',index=['breed','location'])

In [38]:
dogseries

breed       xyz
location    xyz
dtype: object

In [41]:

ser = pd.Series(np.random.rand(7), index=['a','b','c','d','e','f','g'])
ser

a    0.382310
b    0.038987
c    0.290791
d    0.084571
e    0.730680
f    0.254111
g    0.664790
dtype: float64

In [43]:
ser[:'c']

a    0.382310
b    0.038987
c    0.290791
dtype: float64


## DataFrames
* Analogous to spreedsheet
* collection series
* mutable
* hetrogenous


### Most commonly used data structure in pandas
* Dic of 1D arrays,series
* NumPy array
* csv, json, databases

In [45]:
#Dictionary of Series
stockSummaries={
'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88], 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)']),
    
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [48]:
stockdf = pd.DataFrame(stockSummaries)

In [50]:
type(stockdf)

pandas.core.frame.DataFrame

In [52]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

In [54]:
stockdf['AAPL']

Beta                       0.84
Closing price            501.53
EPS                       40.32
Market Cap(B)            447.59
P/E                       12.44
Shares Outstanding(M)    892.45
Name: AAPL, dtype: float64

In [56]:
type(stockdf['AAPL'])

pandas.core.series.Series