#### Features are represented in 
* categorical data, text, images.
* Derived features
* Imputation of missing data
* The mechanism of converting data into right format is known as vectorization

##### Categorical Features

In [3]:
data = [
    {'price': 850000, 'rooms': 4, 'neighborhood': 'Queen Anne'},
    {'price': 700000, 'rooms': 3, 'neighborhood': 'Fremont'},
    {'price': 650000, 'rooms': 3, 'neighborhood': 'Wallingford'},
    {'price': 600000, 'rooms': 2, 'neighborhood': 'Fremont'}
]

In [5]:
data

[{'neighborhood': 'Queen Anne', 'price': 850000, 'rooms': 4},
 {'neighborhood': 'Fremont', 'price': 700000, 'rooms': 3},
 {'neighborhood': 'Wallingford', 'price': 650000, 'rooms': 3},
 {'neighborhood': 'Fremont', 'price': 600000, 'rooms': 2}]

In [7]:
import pandas as pd

In [9]:
pdata = pd.DataFrame(data)

In [10]:
pdata

  neighborhood   price  rooms
0   Queen Anne  850000      4
1      Fremont  700000      3
2  Wallingford  650000      3
3      Fremont  600000      2