In [22]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
data = pd.read_excel('city.xlsx')

In [30]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [31]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [32]:
lat = data[' Lat']

In [33]:
long = data['Long']

In [1]:
plt.plot(lat,long,'*')

NameError: name 'plt' is not defined

In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel('city.xlsx')

In [7]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [14]:
# data.set_index('City', inplace=True)

In [30]:
data.filter(like='Dhar', axis=0)

                                          Lat       Long
City
Dharmavaram, Andhra Pradesh, India  14.413745  77.712616

In [1]:
help(data.filter)

NameError: name 'data' is not defined

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import make_blobs

In [20]:
X, y = make_blobs(n_samples=10, centers=3, n_features=2, random_state=0)

In [21]:
X

array([[ 1.12031365,  5.75806083],
       [ 1.7373078 ,  4.42546234],
       [ 2.36833522,  0.04356792],
       [ 0.87305123,  4.71438583],
       [-0.66246781,  2.17571724],
       [ 0.74285061,  1.46351659],
       [-4.07989383,  3.57150086],
       [ 3.54934659,  0.6925054 ],
       [ 2.49913075,  1.23133799],
       [ 1.9263585 ,  4.15243012]])

In [23]:
y

array([0, 0, 1, 0, 2, 2, 2, 1, 1, 0])