In [22]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
data = pd.read_excel('city.xlsx')

In [30]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [31]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [32]:
lat = data[' Lat']

In [33]:
long = data['Long']

In [1]:
plt.plot(lat,long,'*')

NameError: name 'plt' is not defined

In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel('city.xlsx')

In [7]:
data

                                 City        Lat       Long
0  Dharmavaram, Andhra Pradesh, India  14.413745  77.712616
1          Siddipet, Telangana, India  18.101904  78.852074
2      Chirala, Andhra Pradesh, India  15.812074  80.355377

In [14]:
# data.set_index('City', inplace=True)

In [30]:
data.filter(like='Dhar', axis=0)

                                          Lat       Long
City
Dharmavaram, Andhra Pradesh, India  14.413745  77.712616

In [28]:
help(data.filter)

Help on method filter in module pandas.core.generic:

filter(items=None, like=None, regex=None, axis=None) method of pandas.core.frame.DataFrame instance
    Subset rows or columns of dataframe according to labels in
    the specified index.

    Note that this routine does not filter a dataframe on its
    contents. The filter is applied to the labels of the index.

    Parameters
    ----------
    items : list-like
        List of info axis to restrict to (must not all be present)
    like : string
        Keep info axis where "arg in col == True"
    regex : string (regular expression)
        Keep info axis with re.search(regex, col) == True
    axis : int or string axis name
        The axis to filter on.  By default this is the info axis,
        'index' for Series, 'columns' for DataFrame

    Returns
    -------
    same type as input object

    Examples
    --------
    >>> df
    one  two  three
    mouse     1    2      3
    rabbit    4    5      6

    >>> # select columns by name
    >>> df.filter(items=['one', 'three'])
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select columns by regular expression
    >>> df.filter(regex='e$', axis=1)
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select rows containing 'bbi'
    >>> df.filter(like='bbi', axis=0)
    one  two  three
    rabbit    4    5      6

    See Also
    --------
    pandas.DataFrame.select

    Notes
    -----
    The ``items``, ``like``, and ``regex`` parameters are
    enforced to be mutually exclusive.

    ``axis`` defaults to the info axis that is used when indexing
    with ``[]``.