In [1]:
import pandas as pd

In [2]:
open('tips.csv','r').readlines()[:10]

['"total_bill","tip","sex","smoker","day","time","size"\n',
 '16.99,1.01,"Female","No","Sun","Dinner",2\n',
 '10.34,1.66,"Male","No","Sun","Dinner",3\n',
 '21.01,3.5,"Male","No","Sun","Dinner",3\n',
 '23.68,3.31,"Male","No","Sun","Dinner",2\n',
 '24.59,3.61,"Female","No","Sun","Dinner",4\n',
 '25.29,4.71,"Male","No","Sun","Dinner",4\n',
 '8.77,2,"Male","No","Sun","Dinner",2\n',
 '26.88,3.12,"Male","No","Sun","Dinner",4\n',
 '15.04,1.96,"Male","No","Sun","Dinner",2\n']

In [3]:
tips = pd.read_csv('tips.csv')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [6]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [7]:
tips.groupby('sex').mean()

        total_bill       tip      size
sex
Female   18.056897  2.833448  2.459770
Male     20.744076  3.089618  2.630573

In [8]:
tips.groupby(['sex','smoker']).mean()

               total_bill       tip      size
sex    smoker
Female No       18.105185  2.773519  2.592593
       Yes      17.977879  2.931515  2.242424
Male   No       19.791237  3.113402  2.711340
       Yes      22.284500  3.051167  2.500000

In [9]:
pd.pivot_table(tips,'total_bill','sex','smoker')

smoker         No        Yes
sex
Female  18.105185  17.977879
Male    19.791237  22.284500

In [10]:
pd.pivot_table(tips,'total_bill',['sex','smoker'],['day','time'])

day               Fri                   Sat        Sun   Thur
time           Dinner      Lunch     Dinner     Dinner Dinner      Lunch
sex    smoker
Female No      22.750  15.980000  19.003846  20.824286  18.78  15.899167
       Yes     12.200  13.260000  20.266667  16.540000    NaN  19.218571
Male   No      17.475        NaN  19.929063  20.403256    NaN  18.486500
       Yes     25.892  11.386667  21.837778  26.141333    NaN  19.171000